# Set default behavior to automatically normalize line endings
* text=auto

# Force batch scripts to always use CRLF line endings so they work on Windows
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf

# Force bash scripts to always use LF line endings so they work on Linux/Mac
*.sh text eol=lf

# Explicitly declare text files you want to always be normalized and converted 
# to native line endings on checkout
*.py text
*.md text
*.txt text
*.yml text
*.yaml text
*.json text
*.js text
*.ts text
*.css text
*.html text
*.htm text

# Declare files that will always have CRLF line endings on checkout
*.sln text eol=crlf

# Denote all files that are truly binary and should not be modified
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.flv binary
*.fla binary
*.swf binary
*.gz binary
*.zip binary
*.7z binary
*.ttf binary
*.eot binary
*.woff binary
*.woff2 binary
*.pyc binary
*.pdf binary
*.ez binary
*.bz2 binary
*.swp binary
*.db binary
*.sqlite binary
